<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Fedora CoreOS{{end}}

{{define "body"}}
<article>
  <h1>Welcome to Fedora CoreOS!</h1>
  <p><em>Note:</em> This site and project are currently very dynamic and will change a lot within the next weeks and months. Please refer to the <a href="/faq">FAQ</a> for more information for the time being. If you want to help or ask any questions, come by our IRC channel, irc://irc.freenode.org/#fedora-coreos, or join our new <a href="https://discussion.fedoraproject.org/c/coreos">discussion board</a>. Links to documentation and more will be added once they're available.</p>

  <p>Fedora CoreOS is a new Linux distribution to run containers at scale. It keeps all the best parts and user experience of CoreOS Container Linux, including automatic updates. In addition, it builds on the expertise of the Fedora Project and Project Atomic team to provide better security and tooling.</p>

  <p>Fedora CoreOS is an open source project associated with the Fedora Project. We are aiming for high compatibility with existing Container Linux configuration and user experience, and we expect that in most cases you’ll be able to launch new instances using your existing Ignition configs.</p>

</article>
{{end}}
